Django==4.2.21
djangorestframework==3.16.0
django-cors-headers==4.7.0

python-dotenv==1.1.0
requests==2.32.3
openai==1.82.0

psycopg2-binary==2.9.10  # PostgreSQL
Pillow==11.2.1           # 이미지 처리

pydantic==2.11.5         # 모델 검증
wikipedia==1.4.0         # 위키 피디아 API

# (이미 설치하셨다면)
# pydub==0.25.1           # 음악 파일 변환 시에만 필요
